/**scss variables**/
$font-stack: Helvetica, sans-serif;
$primary-color: rgba(135, 206, 250);
$font-size: 15px;

body {font: 100% $font-stack;color: $primary-color;}

/*scss nesting*/
div { 
    .paragraph {
        p {
          font-size: 15px;
          color: rgba($color: #00334d, $alpha: 1.0);
        }
    }
  }

  /**scss inheritence using @extend**/
.description {
    font-size: 20px;
    color: rgb(15, 34, 46);
    font-family: Arial, sans-serif;
}

.warning {
  @extend .description;
  color: red($color: #b68b00)
}

.error {
  @extend .description;
  color: red($color: #960000)
}